<html>
<head>
    <title>Chat Box</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="msg-header">
            &nbsp&nbsp&nbsp&nbspChat with me
        </div> 
    <div class="chat-page">
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page" name="message" id = "message">
                    {% for item in messages %}
                        <div class="outgoing-msg">
                            <div class="outgoing-chats-msg">
                                <p>{{ item.Userinput}}</p>
                            </div>
                        </div>
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <p>{{ item.response }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
        <div class="msg-bottom">
            <div class="input-group">
                <form method="post" id="myForm">
                    <input type="text" class="form-control" name="userInput" id="userInput" placeholder="Write message...">
                        <div class="input-group-append ">
                            <span class="input-group-text send-icon ">
                                    <i class="bi bi-send" id="Sendbutton"></i>
                            <span>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
        

        function sleep(delay) {
            var start = new Date().getTime();
            while (new Date().getTime() < start + delay);
        }
        console.log("開始循環");
        pollForResult();

        function pollForResult() {

                fetch('/check_result')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.result == 'Not ready') {
                        setTimeout(pollForResult, 2000)
                    } else {
                        console.log("完成");
                        window.location = window.location.href;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

    </script>
    </body>
</html>



